.testing {
  min-width: 200px;
  width: 28.57143%;
  min-height: 400px;
  height: 16.66667%;
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 0.25rem;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px; }
  .testing p {
    width: 180px; }
